<p style="color: green"><%= notice %></p>

<h1>Itens</h1>

<div id="itens">
  <% @itens.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>
