<h1 class="display-5">
    <%= link_to movimentacao_estoques_path, class: "nav-link" do %>
    <i class="bi bi-caret-left fs-1"></i>
    Editar movimentação
    <% end %>
</h1>

<%= render "form", movimentacao_estoque: @movimentacao_estoque %>
