<div class="container-fluid">
  <% # app/views/pedidos/index.html.erb %>

<h1 class="display-5">Pedidos</h1>
    
    <%= render "tabela_pedidos", pedidos: @pedidos %>

  <!--
  <div class="grid" id="pedidos-grid">
    <% @pedidos.each do |pedido| %>
      <div class="grid-item pt-4">
        <%= render "pedido_card", pedido: pedido %>
      </div>
    <% end %>
  </div>
  -->
<%= render "partials/btn_floating", link: new_pedido_path, formato: "square", texto: "Novo pedido", cor: "primary" %>


<script>
document.addEventListener("turbo:load", function() {
  // Selecione o contêiner da grade
  var grid = document.getElementById('pedidos-grid');
  // Inicialize o Masonry
  var masonry = new Masonry(grid, {
    itemSelector: '.grid-item', // Seletor para os elementos de pedido
    columnWidth: '.grid-item', // Largura das colunas
    gutter: 20 // Espaçamento entre os elementos
  });

  // Aguarde o carregamento de todas as imagens dentro da grade
  imagesLoaded(grid).on('progress', function() {
    // Recalcula a posição dos itens após o carregamento de imagens
    masonry.layout();
  });
});
</script>
</div>