<%# app/views/pedidos/index.html.erb %>

<h1 class="mb-4">Lista de Pedidos</h1>

<div class="row">
  <% @pedidos.each do |pedido| %>
    <div class="col-md-4 mb-4">
      <%= link_to pedido, class: 'nav-link' do %>
        <%= render 'pedido_card', pedido: pedido %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to new_pedido_path, class: "btn btn-primary floating-btn" do %>
  <i class="bi bi-plus fs-1"></i>
<% end %>
