<h1 class="display-5">
    <%= link_to produtos_path, class: "nav-link" do %>
    <i class="bi bi-caret-left fs-1"></i>
    Editar Produtos 
    <% end %>
</h1>

<%= render "form", produto: @produto %>

<br>

<div>
  <%= link_to "Show this produto", @produto %> |
  <%= link_to "Back to produtos", produtos_path %>
</div>
