<div class="container-fluid">
  <h1 class="display-5">Vendas</h1>

  <div id="vendas">
      <%= render 'tabela_vendas', vendas: @vendas %>
  </div>

  <%= render "partials/btn_floating", link: new_venda_path, formato: "circle", cor: "primary" %>
</div>